body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.mob-generator-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2a2a2a;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mob-list {
  list-style-type: none;
  padding: 0;
}

.mob-list li {
  margin-bottom: 10px;
}

.mob-stats {
  list-style-type: none;
  padding: 0;
}

.mob-stats li {
  margin-bottom: 10px;
}

.level-buttons {
  margin-top: 20px;
}

.level-buttons button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.level-buttons button:hover {
  background-color: #2980b9;
}

.level-change-text {
  font-weight: bold;
  margin-top: 10px;
}

/* Стили для корневого элемента приложения и фона */
.App {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Стили для заголовка */
header {
  background-color: #0074d9;
  color: white;
  padding: 10px;
}

/* Стили для основной области контента */
main {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Стили для кнопок */
button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
